{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="contacts">
  <div class="contactsBody">
    <h1>Contacts list</h1>
    <form action={% url 'addNumber' %} method="POST">
      <input type="text" class="input" name="name" placeholder="contact name"/>
      <input type="text" class="input" name="number" placeholder="contact number"/>
      <input type="submit" class="submit" value="add"/>
    </form>
    {% if contacts %}
      <ul>
      {% for c in contacts %}
          <li>
            {{ c.name }}
            {{ c.number }}
          </li>
          <hr/>
      {% endfor %}
      </ul>
    {% else %}
        <p>No contacts yet.</p>
    {% endif %}

  </div>
   
</body>
</html>